body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
}

@keyframes box2move{

}