body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
     }
p {
  font-size: 2rem;
}

button {
   padding: 7px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   background-color: #3498db;
}