body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(223, 227, 231);
    font-family: monospace;
    
}


nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: lightblue;
    
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:darkslategrey;
    font-size: 12px;
    transition-property: font-size;
    transition-duration: 0.5s;
}
nav a:hover{
font-size: large;
}
@keyframes red-ball{
    0%   {background-color:darkturquoise; left:0px; top:0px;}
    33%  {background-color:rgb(68, 155, 255); left:50px; top:500px;}
    66%   {background-color: rgb(192, 78, 245); left: 100px;top:350px;}
    100% { background-color: blueviolet;left:150px;top:450px}
    }

#red-ball{
    background-color: darkturquoise;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation-duration: 3s;
    animation-name: red-ball;
}

img{
    width:60vw;
    height: 60vh;
    border-radius: 5%;
    filter: contrast(2);
    transition: width 2s height 2s;
}
img:hover{
    width:50vw;
    height:50vh;
}