h1 {
  text-align: center;
}

 .background{
  background-image: url("WA5-image.png");
  background-repeat: no-repeat;
 }
 /*
div {
  height: 1000px;
  width: 700px;
}
  
.Rough {
  top: 70px;
  left: 100px; 
}

.Unsteady {
  top: 70px;
  right: 76px;
}

.Wet {
  position: fixed;
  bottom: 225px;
  right: 100px;

}
.Small {
  position: fixed;
  bottom: 365px;
  left: 66px;

}
*/