h1 {
  position:relative;
  left: 270px;
}

 body{
  background-image: url("WA5-image.png");
  background-repeat: no-repeat;
  background-size: 1000px 700px;
  height: 1000px;
  width: 700px;
  position:top;
 
  
 }
 .Perfect{
  float: top;
  position:relative;
  top: 220px;
  left: 360px;
 }

 .Rough {
  float: left;
  position:relative;
  top:-70px;
  left:95px;
 
  }
.Unsteady {
  float: right;
  position: relative;
  top: -80px;
  right:-200px;
}
.Wet {
float: right;
  position: relative;
  bottom: -445px;
  right:-285px;}

  .Small {
  float: left;
  position: relative;
  bottom: -290px;
  left:-0px;}
 